EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDvtb3ZdyLxDCtdHdiueB4yqXzOxX_mcNU
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=streetconnect-a33c6.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=streetconnect-a33c6
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=streetconnect-a33c6.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=438680171133
EXPO_PUBLIC_FIREBASE_APP_ID=1:438680171133:web:2ed08dd5c586ebe5a43714


EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your-android-client-id.apps.googleusercontent.com


EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your-ios-client-id.apps.googleusercontent.com



FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY_ID=your-private-key-id-from-service-account-json
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\ncopy-the-full-private_key-value-here\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=your-client-id-from-service-account-json
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token

# ========================================
# Backend Server
# ========================================

PORT=4000
NODE_ENV=development
